<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="row w-50">
    <div class="col-md-12">
      <h4 class="text-center">Ajouter une Famille</h4>
      <p class="text-center">Remplissez le formulaire pour ajouter une nouvelle famille.</p>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="familleForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nom de la famille"
                formControlName="title" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Description"
                formControlName="description">
            </div>
            <button class="btn btn-primary w-100" type="submit" [disabled]="isLoading">
              {{ isLoading ? 'Ajout en cours...' : 'Ajouter' }}
            </button>
          </form>

          <!-- Message de succès -->
          <div *ngIf="successMessage" class="alert alert-success mt-3">
            {{ successMessage }}
          </div>

          <!-- Message d'erreur -->
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
