<div class="container">
    <h4 class="text-center">Ajouter un Indicateur</h4>
  
    <form [formGroup]="indicateurForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Titre"
          formControlName="title" required>
      </div>
  
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Description"
          formControlName="description">
      </div>
  
      <!-- ✅ Select Famille -->
      <div class="form-group">
        <label for="famille">Famille</label>
        <select class="form-control" formControlName="familleId" required>
          <option *ngFor="let famille of familles" [value]="famille.id">
            {{ famille.title}}
          </option>
        </select>
      </div>
  
      <button class="btn btn-primary w-100" type="submit">
        Ajouter Indicateur
      </button>
    </form>
  </div>
  