
<div class="breadcrumb">
  <h1>Dashboard</h1>
  <ul>
    <li><a href="">Employee</a></li>
    <li>Dashboard</li>
  </ul>
</div>
<button (click)="exportPDF()" class="btn btn-primary mb-3">Exporter en PDF</button>

<div class="separator-breadcrumb border-top"></div>

<div #pdfContent id="pdfContent">
<div class="row g-3 align-items-stretch">
  <!-- Carte 1 : Nom et Prénom -->
  <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4 w-100">
      <div class="card-body text-center">
        <i class="i-Add-User"></i>
        <div class="content">
          <p class="text-muted mt-2 mb-0">Employé</p>
          <p class="text-primary text-24 line-height-1 mb-2">
            {{ employee?.prenom }} {{ employee?.nom }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Carte 2 : Poste-->
  <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4 w-100">
      <div class="card-body ">
        <i class="i-Financial"></i>
        <div class="content">
          <p class="text-muted mt-2 mb-0">Poste</p>
          <p class="text-primary text-20  line-height-1 mb-2">{{ employee?.post?.title  }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Carte 2 : Nombre de compétences -->
  <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4 w-100">
      <div class="card-body text-center">
        <i class="i-Big-Data"></i>
        <div class="content">
          <p class="text-muted mt-2 mb-0">Compétences</p>
          <p class="text-primary text-24 line-height-1 mb-2">{{ competenceCount }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Carte 2 : Nombre des ecart-->
  <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4 w-100">
      <div class="card-body text-center">
        <i class="i-Statistic"></i>
        <div class="content">
          <p class="text-muted mt-2 mb-0">Nombre des ecarts</p>
          <p class="text-primary text-24 line-height-1 mb-2">{{ ecartsCount }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Carte des compétences -->
  <div class="col-lg-6 col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title">Compétences</div>
        <div echarts [options]="pieChartData" [autoResize]="true" style="height: 300px;"></div>
      </div>
    </div>
  </div>

  <!-- Carte des niveaux atteints -->
  <div class="col-lg-6 col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title">Répartition des niveaux atteints</div>
        <div echarts [options]="niveauChartData" [autoResize]="true" style="height: 300px;"></div>
      </div>
    </div>
  </div>
</div>

 <div class="row">
        
         
                <div class="card-body">
                    <div class="card-title">Historique d'evolution</div>
                    <div  echarts [options]="lineChartData" class="chart" *ngIf="lineChartData" style="height: 300px; width: 100%;"></div>
                </div>
         
        
    </div>



    </div>